<div class="container" style="margin-top: 3%;">
    <div class="row">
        <div class="col-md-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tr *ngFor="let user of users | paginate: { itemsPerPage: count, currentPage: p }">
                    <td>{{user.objectId}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.roles}}</td>
                    <td (click)="openDialogEdit(user)" style="cursor: pointer;"><i class="fas fa-pen"></i></td>
                    <td (click)="onDelete(user.objectId)" style="cursor: pointer;"><i class="fas fa-trash-alt"></i></td>
                </tr>
            </table>
        </div>
        <div class="col-md-2">
            <i style="cursor: pointer;" (click)="openDialog()" class="fas fa-plus-square icon"></i>
            <!-- (click)="openCreate(content)" -->
        </div>
    </div>
</div>
<div class="margin-pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
