.icon {
    font-size: 70px;
    margin-left: 57%;
    margin-top: 71%;
}
.top-div {
    margin-top: 3%;
}
.left-input-email{
    margin-left: 8%;
    width: 300px;
}
.left-input-first-name{
    margin-left: 1%;
    width: 300px;
}
.left-input-last-name{
    margin-left: 1%;
    width: 300px;
}
.left-input-password{
    margin-left: 2%;
    width: 300px;
}
.left-input-role{
    margin-left: 9%;
}
.err{
    font-size: 15px;
    color: red;
    margin-left: 18%;
}